
<h2>All Posts</h2>

<% page.posts.each(function(post) { %>
    <article>
      <div class="row">

        <div class="three columns left lit">
          <p class="bottom"><%- full_date(post.date, 'll') %></p>
        </div>
        <div class="six columns left mb-3">
          <a href="<%- url_for(post.path) %>" >
            <% if (post.title == "") { %>
              no title
            <% } else { %>
              <%- post.title %>
            <% } %>
          </a>
          <% if (post.summary) { %>
            <br/>  
            <%- post.summary %>
          <% } %>
          
        </div>
        <div class="three columns left mb-3">
        <% if (post.thumbnail) { %>
          <img style="float: right; max-width: 100%; border-radius: 4px;" src="<%- post.path %><%- post.thumbnail %>" class=""/>
        <% } %>
        <% if (post.thumbnail_old) { %>
          <img style="float: right; max-width: 100%; border-radius: 4px;" src="<%- post.thumbnail_old %>" class=""/>
        <% } %>
      </div>
      </div>
    </article>
<% }) %>
<%- partial('partial/pagination', {type: 'page'}) %>
