

<% if (page.notebook) { %>
  <%- observable_notebook(page.notebook, page.hideAfter || -1) %>

<% } else { %>
  <h2><%- page.title %></h2>
<% } %>

<%- page.content%>
<p><%- list_tags(page.tags, {class: 'classtest', show_count: false, style: false}) %> — <%- full_date(page.date, 'll') %></p>
<%- partial('partial/comments') %>



<% if (!page.notebook) { %>
<!-- Highlight.js syntax highlighting -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">
<script type="module">
  import hljs from 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/es/highlight.min.js';
  //  and it's easy to individually load additional languages
  import python from 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/es/languages/python.min.js';
  hljs.registerLanguage('python', python);
  hljs.highlightAll();
</script>
<% } %>
